/* * {
	color: white;
	background-color: rgba(32, 32, 32, 1);
} */
body, input, button, div, select {
	color: white;
	background-color: rgba(32, 32, 32, 1);
}
/* &checkmark; &cross; &plus; */
/* #region Remove Horizontal Scroll */
html {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	overflow-wrap: break-word;
}
body > * {
	max-width: 100%;
	box-sizing: border-box;
	overflow-wrap: break-word;
}
/* #endregion */

/* #region Simple Things */
.requiredField {
	box-sizing: border-box;
	border: 3px solid red;
}
	.requiredField:active {
		border: initial;
	}
/* #endregion */

#xhrResults {
	white-space: pre-wrap;
}

/* #region Login Pane */
/* #region Layout */
/* #region Grid */
#login_hover {
	grid-area: login_hover;
	justify-self: center;
}
#loginPaneTop {
	grid-area: loginPaneTop;
	align-self: center;
}
#loginPane {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		"loginPaneTop loginPaneTop loginPaneTop loginPaneTop"
		". . . login_hover";
}
/* #endregion */
/* #region Flex */
#loginPaneTop {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#bttn_Login {
	align-self: center;
}
#login {
	align-self: center;
}
/* #endregion */
#loginPaneTop {
	padding: .5em 0;
}
#login_hover {
	padding: .5em .5em;
}

#loginPane/*Top, #login_hover*/ {
	position: absolute;
	top: -2.25em;
	left: 0;
	box-sizing: border-box;
	width: 100%;

	transition: ease-in-out 1s;
}
#loginPane:hover/*Top:hover, #login_hover:hover*/ {
	top: 0;
}
/* #endregion */
/* #region Style */
#loginPane {
	background-color: rgba(64, 64, 64, 0);
}
#login_hover, #loginPaneTop, #login {
	background-color: rgba(64, 64, 64, 1);
}
#login_hover {
	border-radius: 0 0 10px 10px;
}
/* #endregion */
/* #endregion */

/* #region Show Listings */
/* #region GRID */
.showListing .showName {
	grid-area: showName;
	/* justify-self: center; */
	justify-self: flex-start;
}
.showListing .showThumbnail {
	grid-area: thumb;
	justify-self: center;
	/* justify-self: flex-start; */
}
.showListing .showEpisodeListing {
	grid-area: epiListing;
}
.showListing {
	display: grid;
	grid-template-columns: 25% 75%;
	grid-template-areas: 
		"showName epiListing"
		"thumb epiListing"
		". epiListing";
}
/* #endregion */
/* #region Layout */
.showListing .showName {
	/* padding-left: 1.5em; */
	justify-self: center;
}
.showListing {
	box-sizing: border-box;
	margin: .5em auto;
	padding: 1.5em;
	padding-left: 0;

	/* Fixes button leaving bounds */
	position: relative;
}
.showListing .showName {
	display: inline;
	margin: 0;
	/* padding: .5em; */
}

.showListing .showThumbnail {
	width: 75%;
	padding-top: 1em;
}

.showListing .showEpisodeListing .episode {
	display: inline-flex;
	width: 100%;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.showListing .showEpisodeListing .episode .episodeNumber,
.showListing .showEpisodeListing .episode .episodeName,
.showListing .showEpisodeListing .episode .episodeLength {
	display: inline;
	
	margin: 3px 2px;
}

.showListing .bttn_ChangeWatchlist {
	position: absolute;
	top: 1em;
	right: 1em;
}
/* #endregion */
/* #region Style */
.showListing {
	border-radius: 10px;
	background-color: rgba(64, 64, 64, 1);
}
.showListing * {
	background-color: rgba(64, 64, 64, 1);
}
.showListing .showEpisodeListing {
	border-radius: 10px;
	padding: 5px 5px 5px;
}
.showListing .showEpisodeListing, .showListing .showEpisodeListing * {
	border-radius: 10px;
	background-color: rgba(48, 48, 48, 1);
}

.showListing .showName {
	font-size: x-large;
}

.showListing .bttn_ChangeWatchlist {
	width: min-content;
	border-radius: 25%;
	border-width: 5px;

	transition: ease-in-out 1s;
	opacity: 0;
}
	.showListing:hover .bttn_ChangeWatchlist {
		opacity: .75;
	}
/* #endregion */
/* .showListing .showName {
	justify-self: center;
}
.showListing {
	box-sizing: border-box;
	margin: .5em auto;
	padding: 1.5em;
	padding-left: 0;

	border-radius: 10px;
	background-color: rgba(64, 64, 64, 1);
}
.showListing * {
	background-color: rgba(64, 64, 64, 1);
}
.showListing .showEpisodeListing {
	border-radius: 10px;
	padding: 5px 5px 5px;
}
.showListing .showEpisodeListing, .showListing .showEpisodeListing * {
	border-radius: 10px;
	background-color: rgba(48, 48, 48, 1);
}

.showListing .showName {
	display: inline;
	margin: 0;

	font-size: x-large;
}

.showListing .showThumbnail {
	width: 75%;
	padding-top: 1em;
}

.showListing .showEpisodeListing .episode {
	display: inline-flex;
	width: 100%;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.showListing .showEpisodeListing .episode .episodeNumber,
.showListing .showEpisodeListing .episode .episodeName,
.showListing .showEpisodeListing .episode .episodeLength {
	display: inline;
	
	margin: 3px 2px;
} */
/* #endregion */

/* #region Watchlist */
.watchlist {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;

	/* column-gap: 1em; */
	/* Stops pushing onto new gridline */
	column-gap: 1px;
}
.wl_Show {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.wl_Show {
	box-sizing: border-box;
	margin: .5em .5em;
	padding: 0 1.5em;
	/* padding-left: 0; */
	
	/* max-width: 25%; */
	max-width: 100%;
}
.wl_Show .wl_ShowName, .wl_Show .wl_ShowNum {
	display: inline;
	margin: 1em 0;
	/* padding: .5em; */
}

.wl_ShowThumb {
	/* max-width: 25%; */
	/* max-width: auto;
	max-height: auto; */
	display: inline;
	object-fit: contain;
	max-width: 100%;
}

.watchlist {
	background-color: rgba(64, 64, 64, 1);
}

.wl_Show {
	border-radius: 10px;
	background-color: rgba(48, 48, 48, 1);
}
.wl_Show * {
	background-color: rgba(48, 48, 48, 1);
}

.wl_Show .wl_ShowName, .wl_Show .wl_ShowNum {
	font-size: larger;
	font-weight: bolder;
}
/* #endregion */

#messageBox {
	display: none;
	opacity: 0;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	margin: 2em;
}