{ 
  "extends": "airbnb/base",
  "rules": {
    "no-underscore-dangle" : "off",
    "no-plusplus": "off",
    "no-tabs": "off",
    "max-classes-per-file": "error",
    "no-use-before-define": "warn",
    "no-unused-vars": "warn",
    "no-console": "warn",
	"eqeqeq": "warn",
	"key-spacing": "off",
	"quotes": "off",
	"quote-props": "off",
	"brace-style": ["error", "stroustrup", { "allowSingleLine": true }],

    "indent": ["error", "tab"]
  }
}